@charset 'UTF-8';
  .background-container {
	position: absolute;
	z-index: -1;
	top: 80px;
    width: 100%;
    height: 100vh;
    background-image: url('../images/back3.png');
    background-size: 1600px auto;
	background-repeat: no-repeat;
    background-position: center;
	/*animation: fadeInOut 18s infinite;*/
  }
	.logo_1{
	animation: fadeInOut1 15s infinite;
	}
	@keyframes fadeInOut1 {
	
	}





	@keyframes fadeInOut {
	0% {
		opacity: 0;
  }
	12% {
		opacity: 0;
  }
	24%{
		opacity: 1;
	}
	36%{
		opacity: 0;
		background-image: url('../../images/back2.jpg');
	};
	48%{
		opacity: 0;
	}
	60%{
		opacity: 1;
	}
	72%{
		opacity: 0;
		background-image: url('../../images/back3.png');
	}
	84%{
		opacity: 0;
	96%{
		opacity: 1;
	}
}