.biochemistry_location{
	position: absolute;
	top: 70%;
	left: 5%;
	font-family:"等线"; 
	font-size: 20px;

}
.biochemistry_main_img{
	position: absolute;
	top: 10%;
	left: 0%;
}
	.white_bar1{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 95px;
	background-color: white;
	box-shadow: 5px 5px 10px RGB(100,100,100), -5px -5px 10px RGB(0,0,0);
	}
.biochemistry_end_plus{
	z-index: 1;
	position: absolute;
	top: 1679px;
	left: 0px;
	width: 100%;
	height: 240px;
	background-color: RGB(236,236,236);
	border-bottom: 1px solid black;
}
.end1{
	z-index: 1;
	position: absolute;
	top: 241px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: RGB(236,236,236);
}
/******************************************/
.id{
	position: absolute;
	top: 44%;
	left: 25%;
	}
 .biochemistry_search-form {
    display: absolute;
	top: 100px;
	left: 100px;

    }
    .biochemistry_search-input {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 900px;
      transition: box-shadow 0.3s ease;
    }
    .biochemistry_search-input:focus {
      outline: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .biochemistry_search-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 20px;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .biochemistry_search-button:hover {
      background-color: #45a049;
    }
/*******************滚动图片栏**********************************/
.container{

    width: 1000px;
    /* 相对定位 */
    position: absolute;
	top: 16%;
	left:25%;
    /* 溢出隐藏 */
    overflow: hidden;
}
.biochemistry_picture{
    width: 800px;
    height: 150px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.biochemistry_picture_li{
    list-style: none;
    height: 100%;
    padding-right: 20px;
}
.biochemistry_picture_li img{
    width: 200px;
    height: 150px;
    /* 保持原有尺寸比例，裁切长边 */
    object-fit: cover;
    /* 图片定位正中间 */
    object-position: center;
}
.btns{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn{
    color: #fff;
    border: 1px solid #ddd;
    padding: 5px 15px;
    margin: 0 15px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(255,255,255,0.2);
}
/***************************************************/
.biochemistry_greeting_bar{
	position: absolute;
	background-color: white;
	z-index: 3;
	top: 54%;
	left: 25%;
	width: 1010px;
	border:1px solid RGB(210,210,210);
	box-shadow: 5px 5px 10px RGB(190,190,190);
	border-radius: 5px;

}
.biochemistry_greeting_bar1{
	float: left;
	width: 250px;
	margin: 0px;
	height: 80px;
	text-align: center; 
	vertical-align: middle;
}
.biochemistry_greeting_bar1_main{
	/*字体框相对位置*/
	margin-top: 25px;
	font-size: 30px;
	color: RGB(30,150,200);
}
.biochemistry_greeting_bar1_stick{
	border:1px solid RGB(210,210,210);
	float:left;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 80px;
}
/***************************************************/
.biochemistry_daily_push{
	position: absolute;
	z-index: 3;
	top: 75%;
	left: 5%;
	background-color: white;
	border-radius: 5px;
	width: 1100px;
}
.biochemistry_daily_push_blue_bar{
	border-left: thick solid #14b9ce;
  border-right: thick solid #14b9ce;
  border-radius: 0.3rem;
  background-color: #14b9ce;
}
.biochemistry_daily_push_title{
	padding-left: 8px;
}
.biochemistry_daily_push_ul{
	margin-top: -10px;
    height: 600px; /* 设置列表的高度 */
    overflow-y: auto; /* 添加垂直滚动条 */
}
.biochemistry_daily_push_ul_li_line{
	position: relative;
	left: -15px;
	color: RGB(256,256,256);
}
.biochemistry_daily_push_blue_bar_items{
	margin: 0px;
	padding: 0px;
}
.biochemistry_daily_push_blue_bar_items:hover{
	background-color: RGB(236,236,236);
}
.biochemistry_daily_push_ul:hover{

}
.biochemistry_daily_push_blue_bar_img{
	margin: 8px;
	width: 40%;
	height: 40%;
}
.biochemistry_daily_push_blue_bar_item{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	width: 580px;
}
.biochemistry_daily_push_blue_bar_item_name{
	font-size: 20px;
	font-weight: 700;
}
/*这是每周推荐的超链接悬停效果控制（注意伪类顺序！）*/
.all > .biochemistry_daily_push > .biochemistry_daily_push_ul > li > .biochemistry_daily_push_blue_bar_items > .biochemistry_daily_push_blue_bar_item>  .biochemistry_daily_push_blue_bar_item_name a:visited{
	color: black;
}
.all > .biochemistry_daily_push > .biochemistry_daily_push_ul > li > .biochemistry_daily_push_blue_bar_items > .biochemistry_daily_push_blue_bar_item>  .biochemistry_daily_push_blue_bar_item_name a:hover{
	color: #14b9ce;
}
.biochemistry_daily_push_blue_bar_item_eng{
	position: relative;
	color: RGB(30,150,200);
	font-weight: 500;
	top: -25px;
	left: 505px;
	width: 70px;
	text-align: center; 
	vertical-align: middle;
	font-size: 15px;
	border: 1px solid RGB(30,150,200);
	border-radius: 5px;
}
/**********************************************************/
.biochemistry_news{
	position: absolute;
	z-index: 3;
	top: 75%;
	left: 65%;
	background-color: white;
	border-radius: 5px;
	width: 400px;
}
.biochemistry_news_blue_bar{
	border-left: thick solid #14b9ce;
  border-right: thick solid #14b9ce;
  border-radius: 0.3rem;
  background-color: #14b9ce;
}
.biochemistry_news_title{
	padding-left: 8px;
}
.biochemistry_news_ul{
	margin-top: -10px;
    height: 250px; /* 设置列表的高度 */
    overflow-y: auto; /* 添加垂直滚动条 */
}
.biochemistry_news_ul_li_line{
	position: relative;
	margin: 8px;
	left: -20px;
	width: 350px;
	color: RGB(256,256,256);
}
.biochemistry_news_ul_li_items{
	height: 21px;
	position: relative;
	left: -25px;
}
.biochemistry_news_ul_li_items:hover{
	position: relative;
	left: -25px;
	color: #14b9ce;
}
.biochemistry_news_ul_li_item1{
	float: left;
	margin-left: 10px;
	width: 200px;
	white-space: nowrap; /* 确保文本不换行 */
	overflow: hidden; /* 隐藏超出容器的内容 */
	text-overflow: ellipsis; /* 超出部分显示为省略号 */
}
.biochemistry_news_ul_li_time1{
	color: RGB(120,120,120);
	margin-left: 50px;
	float: left;
}
/*************************************************/